force-app/main/default/flows/Thread_After_Update_Send_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Random_Number</name>
        <label>Generate Random Number</label>
        <locationX>407</locationX>
        <locationY>935</locationY>
        <actionName>NKS_RandomNumberGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Received_Survey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>Random_Num</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Num_Responses</name>
        <label>Set Num Responses</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Num_Responses</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Limit_Exceeded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Sent</name>
        <label>Is Sent</label>
        <locationX>605</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Survey_Link</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Limit_Exceeded</name>
        <label>Limit Exceeded</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Num_Responses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Received_Survey</name>
        <label>Received Survey</label>
        <locationX>407</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Send_Survey_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Contact__r.NKS_Survey_Submission_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Random_Num</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Participant_Percent</elementReference>
                </rightValue>
            </conditions>
            <label>Received</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Message_Body</name>
        <dataType>String</dataType>
        <expression>&quot;Vi ønsker å forbedre oss. Hvis du har ett minutt til overs vil vi gjerne at du gir oss tilbakemelding: &quot; + {!Survey_Link}</expression>
    </formulas>
    <interviewLabel>Thread - After Update Send Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - After Update - Send Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Survey_Link</name>
        <label>Send Survey Link</label>
        <locationX>605</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Is_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Message_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Responses</name>
        <label>Get Responses</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Num_Responses</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey</name>
        <label>Get Survey</label>
        <locationX>407</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nks_service_survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation</name>
        <label>Get Survey Invitation</label>
        <locationX>407</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Random_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>Survey_Link</assignToReference>
            <field>InvitationLink</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Participant_Percent</assignToReference>
            <field>NKS_Participants_Percentage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>473</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_Survey_Submission_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Responses</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CRM_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHAT</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Num_Responses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Participant_Percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Random_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Survey_Link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
